ldap:
    uri: "ldap.db.scl3.mozilla.com"
    user: ""
    password: ""
    search_base:
        groups: "ou=groups,dc=mozilla"
        users: "dc=mozilla"
    filter:
        groups: "(objectClass=groupOfNames)"
        users: "(&(!(employeeType=DISABLED))(objectClass=inetOrgPerson)(|(o:dn:=org)(o:dn:=com)(o:dn:=net)(ou:dn:=shared_accounts)))"
cis:
    connection: 'Mozilla-LDAP'
    user_id_prefix: 'ad|Mozilla-LDAP'
aws:
    boto:
        access_key_id: ""
        secret_access_key: ""
        region: "us-west-2"
    s3:
        bucket: "dev-cis-ldap2s3-publisher-data"
        filename: "ldap-full-profile.json.xz"
        cache: "/var/tmp/ldap2s3-cache.json"
